@page "/Game"
@using InteractionGui
@using Game

<button @onclick="Start">Start</button>

@if (_winner == "")
{
    <TableGui></TableGui>
    <HandPlayer></HandPlayer>
}
else
{
    <div style="display: flex; justify-content: center">
        <h2>@_winner</h2>
    </div>
}

@code
{
    public Judge<int> Judge = Test.Game();
    
    private LocationGui[] LocationTable { get; set; } = Array.Empty<LocationGui>();
    
    private LocationGui[] LocationHand { get; set; } = Array.Empty<LocationGui>();

    private string _winner="";
    
    private async Task Start()
    {
        await Task.Run(() =>Judge.Game());
    }
    
    protected override void OnInitialized()
    {
        Printer.BindWinnerEvent += BindLocationGui;
    }

    private void BindLocationGui(string winner)
    {
        _ = InvokeAsync(() =>
        {
            _winner = winner;
            StateHasChanged();
        });
    }
}