@using InteractionGui
@using Game

@if (_message == "")
{
    <div style="background-image: url(/Table.jpeg); border-radius: 10px;">
        <TableGui></TableGui>
        <HandPlayer></HandPlayer>
    </div>
}
else
{
    <div style="display: flex; justify-content: center; color: black;">
        <h2>@_message</h2>
    </div>
}

@code
{
    private LocationGui[] LocationTable { get; set; } = Array.Empty<LocationGui>();

    private LocationGui[] LocationHand { get; set; } = Array.Empty<LocationGui>();

    private string _message = "";


    protected override void OnInitialized()
    {
        Printer.BindMessageEvent += BindLocationGui;
    }

    private void BindLocationGui(string winner)
    {
        _ = InvokeAsync(() =>
        {
            _message = winner;
            StateHasChanged();
        });
    }
}