@page "/"
@using Rules
@using InteractionGui

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/Game"><button>Game</button></a>

<SelectVariant Cant="5" VariantGui="new SelectAssignScorePlayerInt()"></SelectVariant>

<SelectVariant Cant="5" VariantGui="new SelectConditionInt()"></SelectVariant>

<SelectVariant Cant="5" VariantGui="new SelectWinnerGameInt()"></SelectVariant>
