<div style="display: flex;">
    @foreach (var item in Values)
    {
        <div class="NDimension">
            <span>
                @item
            </span>
        </div>
    }
</div>

@code {

    [Parameter]
    public string[] Values { get; set; } = Array.Empty<string>();

}