@using InteractionGui
@using Rules
@typeparam T1
@typeparam T2

@if (Cant != 0)
{
    <div class="Select">
        <div class="HeadSelect">
            <label>@VariantGui.Description</label>
        </div>

        <div style="display: flex">
            <EditForm Model="VariantGui">
                <InputSelect @bind-Value="_selcted" style="width: 320px; height: 30px;">
                    @foreach (var item in VariantGui.Param)
                    {
                        <option value="@item.Index">@item.Name</option>
                    }
                </InputSelect>
            </EditForm>
            @if (Cant == 1)
            {
                <button @onclick="Next" style="width: 80px;">Terminar</button>
            }
            else
            {
                <button @onclick="Next" style="width: 80px;">Siguiente</button>
            }
        </div>

        <div>
            @if (_selcted != -1)
            {
                @if (VariantGui.Param[_selcted].Values == 1)
                {
                    <input type="number" @bind="_valueLeft"/>
                }
            }
        </div>

        <div style="display: flex; justify-content: center;">
            @if (_selcted != -1)
            {
                <p>Descripcion: @VariantGui.Param[_selcted].Description</p>
            }
        </div>
    </div>
}


@code {

    [Parameter]
    public List<T1> ValueParam { get; set; }

    [Parameter]
    public int Cant { get; set; } = 1;
    
    [Parameter]
    public IVariant<T1, T2> VariantGui { get; set; }

    private int _selcted = -1;

    private int _valueLeft = 1;

    private int _valueRight;

    private void Next()
    {
        if (_selcted != -1)
        {
            ValueParam.Add(VariantGui.Values[_selcted](null));
            Cant--;
        }
    }

}