@using Rules
@using InteractionGui
@typeparam T 

<h3>SelectWinnerGameRuleGui</h3>

<label>Seleccione la cantidad de reglas que va a utilizar</label>

<input type="number" @bind="_cant"/>

<button @onclick="Select">Seleccionar</button>

@if (_selectValue)
{
    <SelectVariantGui Cant="_cant" ValueParam="_valuesRule" VariantGui="new SelectWinnerGame<T>()"></SelectVariantGui>
   
    
    <SelectVariantGui Cant="_cant" ValueParam="_valuesCondition" VariantGui="new SelectCondition<T>()"></SelectVariantGui>
}

@code {
    [Parameter]
    public List<T> a { get; set; }
    
    private int _cant = 1;

    private bool _selectValue = false;

    private List<IWinnerGame<T>> _valuesRule = new List<IWinnerGame<T>>();
    
    private List<ICondition<T>> _valuesCondition = new List<ICondition<T>>();

    private void Select()
    {
        _selectValue = true;
    }
}