@using Rules
@using InteractionGui
@typeparam T1
@typeparam T2

@if (Cant != 0)
{
    <div class="Select">
        <div class="HeadSelect">
            <label>Seleccionar la forma en que se determina el ganador de un juego</label>
        </div>

        <div style="display: flex; justify-content: center;">
            <EditForm Model="VariantGui">
                <InputSelect @bind-Value="_selcted" style="width: 300px; height: 30px;" placeholder="Ganar un juego">
                    @foreach (var item in VariantGui!.Param)
                    {
                        <option value="@item.Index">@item.Name</option>
                    }
                </InputSelect>
            </EditForm>
            <button @onclick="Next">@_valueButton</button>
        </div>
        
        <div>
            @if (_selcted != -1)
            {
                @if (VariantGui!.Param[_selcted].Comparison)
                {
                    
                }
                @if (VariantGui!.Param[_selcted].Values==1)
                {
                    <input type="number" @bind="_valueLeft"/>
                    <input type="number" @bind="_valueRight"/>
                    <SelectVariant Cant ="2" VariantGui="new SelectWinnerGameInt()"></SelectVariant>
                }
            }
        </div>

        <div style="display: flex; justify-content: center;">
            @if (_selcted != -1)
            {
                <p>Descripcion: @VariantGui!.Param[_selcted].Description</p>
            }
        </div>
    </div>
}


@code {

    [Parameter]
    public ISelectVariantGui<T1,T2>? VariantGui { get; set; }

    [Parameter]
    public int Cant { get; set; }

    private int _selcted = -1;

    private int _valueLeft;

    private int _valueRight;

    private string _valueButton = "Siguiente";

    private void Next()
    {
        if (_selcted != -1)
        {
            VariantGui!.ValueParam.Add(VariantGui.Values[_selcted](null!,_valueLeft,_valueRight));
            Cant--;
            if (Cant == 1) _valueButton = "Terminar";
        }
    }

}