<div class="triangleTop">
    <div class="t1Top"></div>
    <div class="t2Top"></div>
    <div class="t3Top">
        <span>@Values[1]</span>
    </div>
    <div class="t4Top"></div>
    <div class="t5Top"></div>
    <div class="t6Top">
        <span>@Values[0]</span>
    </div>
    <div class="t7Top"></div>
    <div class="t8Top">
        <span>@Values[2]</span>
    </div>
    <div class="t9Top"></div>
</div>

@code
{
    [Parameter]
    public string[] Values { get; set; } = new string[3];
}