<div class="triangle1" >
    <div class="t1"></div>
    <div class="t2"></div>
    <div class="t3">@Values![0]</div>
    <div class="t4"></div>
    <div class="t5"></div>
    <div class="t6">@Values![1]</div>
    <div class="t7"></div>
    <div class="t8">@Values![2]</div>
    <div class="t9"></div>
</div>

@code
{
    [Parameter]
    public string[]? Values { get; set; }
}
